body {
  background-color: rgb(70, 119, 145);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-weight: bold;
  user-select: none;
}

h1 {
  font-size: 60px;
  text-align: center;
  margin: 40px 0;
}

.connexion-carre {
  display: flex;
  flex-direction: column; /* place les éléments les uns en dessous des autres */
  justify-content: center;
  width: 100%;
  max-width: 700px;
  padding: 30px;
  background-color: rgb(9, 26, 36);
  border-radius: 20px;
  margin: auto;
  box-sizing: border-box;  /* inclut le padding et la bordure dans la largeur totale */
}

.champ1 {
  background-color: rgba(255, 255, 255, 0.929);
  color: rgb(20, 20, 20);
  border: none;
  outline: none;
  /* enlève le contour bleu au clic */
  box-sizing: border-box;
  padding: 8px;
  font-size: 18px;
  border-radius: 10px;
  width: 80%;
  margin-bottom: 10px;
}

.champ2 {
  background-color: rgba(255, 255, 255, 0.936);
  color: rgb(20, 20, 20);
  border: none;
  outline: none;
  /* enlève le contour bleu au clic */
  box-sizing: border-box;
  padding: 8px;
  font-size: 18px;
  border-radius: 10px;
  width: 80%;
}

.co {
  color: white;
  background-color: rgb(64, 156, 199);
  border: none;
  border-radius: 50px;
  font-size: 22px;
  padding: 15px;
  text-decoration: none;
  box-sizing: border-box;
  margin: 30px 100px 40px;
  align-self: center;
  /* centre le bouton */
  text-transform: uppercase;
}

.nom, .mot-de-passe {
  font-size: 25px;
  color: rgb(148, 198, 238);
}

.erreur {
  color: red;
  margin-top: 10px;
}

.mdp-affiche {
  position: relative;
}

.oeil {
  position: absolute;
  width: 60px;
  height: 50px;
  cursor: pointer;
  margin-top: -5px;
}